.Oneletter{
    font-size: 30px;
}

.TextLine{
    min-height: 150px;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.301); 
    border-radius: 10px;
    padding: 20px;
}

.Test2_TopText{
    font-size: 20px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}


.Test2BottomButtons{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

