.container{
    display: flex;
    flex-direction: column;
    
    margin-left: auto;
    margin-right: auto;
    /* background-color: #8f6f6f0c; */
    max-width: 1400px;
    width: 100vw;
    /* min-height: calc(100dvh - 134px); */
    padding-top: 10px;
    padding-bottom: 10px;
}